@using Microsoft.AspNetCore.Http
@using WSEP212.DomainLayer
@using WSEP212.DomainLayer.SystemLoggers
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="edititemdetailsdiv">
    @model WebApplication.Models.ItemModel
    @try
    {
        @using (Html.BeginForm("TryEditDetails", "Home", FormMethod.Post))
        {
            @Html.LabelFor(model => model.quantity,new { @class="inputclassindex" })
            @Html.EditorFor(model => model.quantity,new {@class="inputclassindex" })
        
        
            @Html.LabelFor(model => model.itemName,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.itemName,new {@class="inputclassindex" })
        
            @Html.LabelFor(model => model.description,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.description,new {@class="inputclassindex" })

        
            @Html.LabelFor(model => model.price,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.price,new {@class="inputclassindex" })
            
            
            <label for="storesList">Category List</label>
            ItemCategory[] arr = new[]
            {
                ItemCategory.AllCategories, ItemCategory.Dairy, ItemCategory.Meat, ItemCategory.Clothing,
                ItemCategory.Footwear, ItemCategory.Cleaners, ItemCategory.Vegetables, ItemCategory.Electronics, ItemCategory.Health,
                ItemCategory.Sport, ItemCategory.Dinnerware, ItemCategory.Fruits, ItemCategory.Snacks,ItemCategory.Pastries,
                ItemCategory.Drinks, ItemCategory.Tools, ItemCategory.Other
            };
            string[] itemCategory = Array.ConvertAll(arr, value => value.ToString());
            @Html.DropDownListFor(model => model.category, new SelectList(itemCategory.OfType<string>().ToList()), new {@class = "custom-select"})
            ;
            @Html.EditorFor(model => model.category, new {@class = "inputclassindex"})
            
        
        
            <button style="margin-top: 15px" class="btn btn-outline-primary" type="submit">Edit Details</button>
        }
    }
    catch (Exception e)
    {
         var msg = e.Message + " ";
         var inner = e.InnerException;
         if (inner != null)
             msg += inner.Message;
         Logger.Instance.writeErrorEventToLog(msg);
    }
    
</div>
</body>
</html>
@if (TempData["alert"] != null)
{
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@TempData["alert"]");  
            };  
        </script>  
}

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
     
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                //alert(connectionId);
            });
        });
     
      </script>
}