@using Microsoft.AspNetCore.Http
@using WSEP212.DomainLayer
@inject IHttpContextAccessor HttpContextAccessor
@model WebApplication.Models.SalesModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="editsalepredicatesdiv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <button class="btn btn-outline-primary" type="submit" formaction="AddSalePredicate">Add Sale Predicate</button>
    }
</div>
<div class="editsalepredicatesdiv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        <label for="storesList">Sale predicates</label>
        string[] predList = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("sale_predicates");
        @Html.DropDownListFor(model => model.predicate, new SelectList(predList.OfType<string>().ToList()), new {@class = "custom-select"});

        <button class="btn btn-outline-primary" formaction="TryRemoveSalePredicate" type="submit">Remove Sale Predicate</button>

        <button class="btn btn-outline-primary" type="submit" formaction="AddSaleCondition">Add Sale Condition</button>
    }
</div>
<div class="editsalepredicatesdiv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        string[] predList = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("sale_predicates");
        SaleCompositionType[] arr = new[]
        {
            SaleCompositionType.XorComposition, SaleCompositionType.MaxComposition, SaleCompositionType.DoubleComposition
        };
        int[] permissions = Array.ConvertAll(arr, value => (int) value);
        <label for="storesList">First predicate</label>
        @Html.DropDownListFor(model => model.firstPred, new SelectList(predList.OfType<string>().ToList()), new {@class = "custom-select"})
        ;
        <label for="storesList">Second predicate</label>
        @Html.DropDownListFor(model => model.secondPred, new SelectList(predList.OfType<string>().ToList()), new {@class = "custom-select"})
        ;
        <label for="storesList">compositionType</label>
        @Html.DropDownListFor(model => model.compositionType, new SelectList(permissions.OfType<int>().ToList()), new {@class = "custom-select"})
        ;

        <button style="margin-top: 20px" class="btn btn-outline-primary" formaction="ComposeSalePredicates" type="submit">Compose Sale Predicates</button>
    }
</div>
</body>
</html>
@if (TempData["alert"] != null)
{
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@TempData["alert"]");  
            };  
        </script>  
}