@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="edititemdetailsdiv">
    @model WebApplication.Models.ItemModel
    @using (Html.BeginForm("TryEditDetails", "Home", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(model => model.quantity,new { @class="inputclassindex" })
            @Html.EditorFor(model => model.quantity,new {@class="inputclassindex" })
        </div>
        
        <div>
            @Html.LabelFor(model => model.itemName,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.itemName,new {@class="inputclassindex" })
        </div>

        <div>
            @Html.LabelFor(model => model.description,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.description,new {@class="inputclassindex" })
        </div>

        <div>
            @Html.LabelFor(model => model.price,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.price,new {@class="inputclassindex" })
        </div>

        <div>
            @Html.LabelFor(model => model.category,new {@class="inputclassindex" })
            @Html.EditorFor(model => model.category,new {@class="inputclassindex" })
        </div>
        
        <button style="margin-top: 15px" class="btn btn-outline-primary" type="submit">Edit Details</button>
    }
</div>
</body>
</html>
@if (ViewBag.Alert != null)
{
    <script type="text/javascript">
    

            window.onload = function() {
                alert("@ViewBag.Alert");
            };
    </script>

}

@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
     
        connection.on('sendToUser', data => {
             alert(data)
        });
     
        connection.start().then(() => {
            console.log("connection started");
            connection.invoke('GetConnectionId').then(function (connectionId) {
                //alert(connectionId);
            });
        });
     
      </script>
}