@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @model WebApplication.Models.ItemModel
    @using (Html.BeginForm("TryAddItem", "Home", FormMethod.Post))
    {
        @Html.EditorFor(model => model.quantity)
        @Html.ValidationMessageFor(model => model.quantity)

        @Html.TextBoxFor(model => model.itemName)
        @Html.ValidationMessageFor(model => model.itemName)
        
        @Html.TextBoxFor(model => model.description)
        @Html.ValidationMessageFor(model => model.description)
        
        @Html.EditorFor(model => model.price)
        @Html.ValidationMessageFor(model => model.price)

        @Html.TextBoxFor(model => model.category)
        @Html.ValidationMessageFor(model => model.category)
        <button class="w-10 btn btn-lg btn-primary" type="submit">Add Item To Store</button>
    }
</div>
<div>
    @using (Html.BeginForm("TryRemoveItem", "Home", FormMethod.Post))
        {
            int[] ItemsList = HttpContextAccessor.HttpContext.Session.GetObject<int[]>("items1");
            @Html.DropDownListFor(model => model.itemID, new SelectList(ItemsList.OfType<int>().ToList()));
            
            <button class="w-10 btn btn-lg btn-primary" type="submit">Remove Item From Store</button>
        }
</div>
</body>
</html>