<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@model WebApplication.Models.UserModel
<div>
    @using (Html.BeginForm("TryLogin", "Home", FormMethod.Post))
    {
      
        @Html.TextBoxFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
              
        @Html.PasswordFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
        <button class="w-10 btn btn-lg btn-primary" type="submit">Login</button>
    }
</div>
</body>
</html>

@if (ViewBag.Alert!= null)  
{  
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@ViewBag.Alert");  
            };  
        </script>  
} 