<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@model WebApplication.Models.UserModel
<div class="logindiv">
    <h2>
        Please Login:
        </h2>
    @using (Html.BeginForm("TryLogin", "Home", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(model => model.UserName,new { placeholder = "User Name",@class="inputclasslogin", @id="nameBox" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div>
            @Html.PasswordFor(model => model.Password,new { placeholder = "Password",@class="inputclasslogin" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <button class="btn btn-outline-primary" type="submit" formaction="TryLogin" value="Login" onclick="saveConn()">Login</button>

        <button style="margin-left: 5px" class="btn btn-outline-primary" type="submit" formaction="LoginAsSystemManager">Login As System Manager</button>
    }
</div>
</body>
</html>



@section Scripts {
    <script src="~/js/signalr.js"></script>

    <script>
     
        function saveConn()
        {
            let connection = new signalR.HubConnectionBuilder().withUrl("/notifications").build();
            connection.start().then(async () => {
                        console.log("connection started");
                        let userName = document.getElementById("nameBox").value 
                        await connection.invoke('GetConnectionIdWithUserName', userName).then(async function (connectionId) {
                            //alert(connectionId);
                            await connection.invoke('SendDelayedNotificationsToUser', userName);
                        });
                    });
        }
        
        connection.on('sendToUser', data => {
           alert(data)
        });
      </script>
      
      @if (TempData["Alert"] != null)  
      {  
          <script type="text/javascript">  
                  window.onload = function() {  
                      alert("@TempData["Alert"]");  
                  };  
          </script>  
      } 
}