<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @model WebApplication.Models.StoreModel
    @using (Html.BeginForm("TryOpenStore", "Home", FormMethod.Post))
    {

        @Html.TextBoxFor(model => model.storeName)
        @Html.ValidationMessageFor(model => model.storeName)

        @Html.TextBoxFor(model => model.storeAddress)
        @Html.ValidationMessageFor(model => model.storeAddress)
        
        @Html.TextBoxFor(model => model.salesPolicy)
        @Html.ValidationMessageFor(model => model.salesPolicy)

        @Html.TextBoxFor(model => model.purchasePolicy)
        @Html.ValidationMessageFor(model => model.purchasePolicy)
        <button class="w-10 btn btn-lg btn-primary" type="submit">OpenStore</button>
    }
</div>
</body>
</html>

@if (ViewBag.Alert!= null)  
{  
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@ViewBag.Alert");  
            };  
        </script>  
} 