@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Message"]</h2>

<h3>@ViewBag.Name</h3>

<h3>@ViewBag.StoreID</h3>

<p>Use this page to detail your site's privacy policy.</p>

@if (TempData["alert"] != null)
{
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@TempData["alert"]");  
            };  
        </script>  
}