@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="purchasepredicatediv">
    <input class="btn btn-outline-primary" type="button" onclick="location.href='/Home/AddPredicate';" value="Add Predicate" />
</div>
@model WebApplication.Models.AppointModel
<div class="purchasepredicatediv">
    @using (Html.BeginForm("ItemActions", "Home", FormMethod.Post))
    {
        string[] AllUsers = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("allUsers");
        @Html.DropDownListFor(model => model.userName, new SelectList(AllUsers.OfType<string>().ToList()), new {@class = "custom-select"});

        <button class="btn btn-outline-primary" formaction="TryAppointManager" type="submit">Remove Predicate</button>

      //  string[] AllUsers = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("allUsers");
        @Html.DropDownListFor(model => model.userName, new SelectList(AllUsers.OfType<string>().ToList()), new {@class = "custom-select"});
        
        //string[] AllUsers = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("allUsers");
        @Html.DropDownListFor(model => model.userName, new SelectList(AllUsers.OfType<string>().ToList()), new {@class = "custom-select"});
        
       // string[] AllUsers = HttpContextAccessor.HttpContext.Session.GetObject<string[]>("allUsers");
        @Html.DropDownListFor(model => model.userName, new SelectList(AllUsers.OfType<string>().ToList()), new {@class = "custom-select"});
        <button class="btn btn-outline-primary" formaction="TryAppointOwner" type="submit">Compose Predicates</button>
    }
</div>
</body>
</html>

@if (ViewBag.Alert!= null)  
{  
    <script type="text/javascript">  
            window.onload = function() {  
                alert("@ViewBag.Alert");  
            };  
        </script>  
} 